{% extends 'blog/base.html' %}

{% block head_title %}Licensed Manga - Links{% endblock %}

{% block content %}
<div class="container-fluid col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
	<h2>Links:</h2>
	<hr>
	<div class="panel panel-default">
		<div class="panel-heading">General information</div>
		<table class="table">
			<tr>
				<td><a href='http://www.animenewsnetwork.com'>Anime News Network</a></td>
			</tr>			
			<tr>
				<td><a href='http://myanimelist.net/'>MyAnimeList</a></td>
			</tr>	
			<tr>
				<td><a href='http://www.otakunews.com/'>Otaku News</a></td>
			</tr>			
		</table>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">Manga</div>
		<table class="table">
			<tr>
				<td><a href='https://www.mangaupdates.com'>Baka-Updates Manga</a></td>
			</tr>			
		</table>
	</div>
	
	
	
	<div class="panel panel-default">
		<div class="panel-heading">Anime</div>
		<table class="table">
			<tr>
				<td><a href='http://animecalendar.net/'>Anime Calendar</a></td>
			</tr>	
			<tr>
				<td><a href='http://anidb.net/'>AniDB</a></td>
			</tr>		
			<tr>
				<td><a href='http://anichart.net'>Ani Chart</a></td>
			</tr>	
			<tr>
				<td><a href='https://www.livechart.me'>Live Chart</a></td>
			</tr>	
		</table>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">Light novels</div>
		<table class="table">
			<tr>
				<td><a href='http://www.englishlightnovels.com'>English Light Novels</a></td>						
			</tr>			
			<tr>
				<td><a href='http://lndb.info/'>LNDB</a></td>
			</tr>		
			<tr>
				<td><a href='https://www.youtube.com/user/JustusRStone'>Justus R. Stone (reviews)</a></td>
			</tr>			
		</table>
	</div>
	
</div>
{% endblock %}
