{% extends 'blog/base.html' %}

{% block head_title %}{{ serie.title }}{% endblock %}

{% block content %}
<div itemscope itemtype='http://schema.org/Book' itemid='#serie'>
	<meta itemprop='inLanguage' content='en'>
	<h1><span itemprop='name'>{{ serie.title }}</span></h1>
	<br>
	<ul>
		<li><b>Original title:</b> <span itemprop='alternateName'> {{ serie.original_title }}</span></li>
		<li>
			<b>Writer/s:</b>
			{% for writer in writers.author.all %}
			<span itemprop='author' itemscope itemtype='http://schema.org/Person' itemid='#author'>
				<link itemprop='sameAs' href='/authors/194'>
				<meta itemprop='name' content='Eiichiro Oda'>
				<a href='/authors/194'>{{ writer }}</a>
			</span>
			{% endfor %}
		</li>
		<li>
			<b>Artist/s:</b>
			{% for artist in artists %}
			<span itemprop='illustrator' itemscope itemtype='http://schema.org/Person' itemid='#illustrator'>
				<link itemprop='sameAs' href='/authors/194'>
				<meta itemprop='name' content='Eiichiro Oda'>
				<a href='/authors/194'>{{ artist }}</a>
			</span>
			{% endfor %}
		</li>
		<li><b>Year:</b> <span itemprop='dateCreated'> {{ serie.year }}</span></li>
		<li><b>Original volumes:</b> {{ serie.title }} <span class='label label-success'>{{ serie.orig_volumes }}</li>
		<li><b>English edition:</b> <span itemprop='bookEdition'> {{ serie.edition }} </span> <span class='label label-success'>{{ serie.state }}</li>
		<li><b>Original publisher:</b> <a href='/publishers/37'>{{ serie.publisher }}</a></li>
		<li><b>English publisher:</b> <a href='/publishers/3'><span itemprop='publisher'>{{ serie.original_publisher }}</span></a></li>
		<li><b>Type:</b> <a href='/series?type=3'><span itemprop='audience'>{{ serie.title }}</span></a></li>
		<br><li><b>Genres:</b>
			{% for genre in serie.genres.all %}
			<span itemprop='genre'>
				<a style="color: white;" href="{% url 'list_series_genre' genre=genre.slug %}">
					<span class='label label-default'>{{ genre }}</span>
				</a>
			</span>
			{% endfor %}
		</li><br>
		<dl class='dl'>
			<dt>Synopsis:</dt>
				<dd><span itemprop='description'>{{ serie.synopsis }}</span></dd>
			</dl>
	</ul><br>

<h3>Volumes in english <span class='badge'>{{ volumes|length }}</span></h3><hr><br><div class='portfolio'>
	{% for volume in volumes %}
		<p></p>
		<div class='col-lg-2 col-md-3 col-sm-3 col-xs-6'>
			<div itemprop='hasPart' itemscope itemtype='http://schema.org/PublicationVolume' itemid='#vol628'>
				<div class='thumbnail'>
					<link itemprop='author' href='#author'>
					<link itemprop='author' href='#illustrator'>
					<meta itemprop='inLanguage' content='en'>
					<img src='{{ volume.image }}' itemprop='image' style='width:150px;height:220px;'>
					<div class='caption'>
						<h3>#<span itemprop='volumeNumber'>{{ volume.num }}</span></h3>
						<span itemprop='datePublished'>{{ volume.release }}</span>
						<br>$9.99<br>
						<br>{{ volume.comments }}<br>
					</div>
				</div>
			</div>
		</div>
		<div class='clear'></div>
	{% endfor %}
</div>
{% endblock %}
